s@import url('server-print.css');
/* @import url('cv-typo.css'); */
/* @import url('cv-layout.css'); */

@page {
	size: 21.0cm 29.7cm ;
/*   size: portrait; */
/* 	margin: 2cm; */
	margin: 0cm;
    padding: 0cm;
}

body {
  font-family: Georgia, serif;
  font-size: smaller; /* serif font seem bigger */
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
}
body, .summary { color: #333; }
h2 {
  color: #666;
}
/* h1, #keywords { color: #CCC; } */
.page-break { page-break-after: always; }
div { page-break-inside: avoid; }
	.np, .w, h1.h { display: none;}
	:
	.lnk>a {
			text-decoration: none !important;
			color: #000;
		}
	abbr {
		text-decoration: none;
		border-bottom-style: none !important;
        font-family: Georgia, 'DejaVu Serif','Times New Roman',serif;
  }
  img { border: none;}
	img.plus { height: 12pt;}
  a {
    color: #333;
    text-decoration: none;
  }

#cv {
  margin: 0 auto;
  border-style: none;
}
#cv .overview  {  padding-top: 0; }
#srv-header, #srv-footer, #menu-lang,
#cv h2 > span.tip{
  display: none;
}
#cv #keywords { -moz-padding-end: 40px; }
#face {
/*  position:absolute;
  right: 3em;
  top: 8em;
  z-index: 2;*/
}
 dd ul, dd ol {
  list-style-type: none;
  padding-left: 0;
}
/* #main li:before, .dash li:before { content: '\2013'; } */
/*#cv {
  margin: 0;
	width: 100%;
	-moz-column-count: 2;
	-moz-column-gap: 3em;
  -moz-column-rule: thin solid #ddd;
	column-count: 2;
	column-gap: 3em;
  column-rule: thin solid #ddd;
}*/
/* h1 { border-bottom: thin dotted #DDD; } */
    dd, #skills dd {
/*        border-left: thin solid #eee; */
    }
#qck-name dd {
  border-left: none;
}
.summary { background-color:#EEE;}
.summary dd, .summary p {
  border-left-color: #DDD;
  border-right-color: #DDD;
  border-right-width: 3px;
}
.summary {text-shadow:0 0 0 transparent;}
dt {
  text-align:right;
  width:7.5em;
  margin-top:0;
}
dt:after { content: '\2002'; }
dd:before {
  content: '–';
  color: #999;
}
dd:first-letter { text-transform: uppercase;}
/* dd {padding-left:0.75em;} */
#main dd:before, #skills li:before, #additional-info li:before, #keywords li:before {
/*   display: none; */
}

/* } */
