<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="assets/images/apple/apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="dist/styles/all.css">
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<article id="resume" class="hresume">
    <div class="overview">
        <dl id="qck-name">
            <dt class="h">{{ _cv("user-name") }}</dt>
            <dd><h1 id="name" class="id fn n">
                <span class="given-name">{{ user.first-name }}</span>
                <span class="family-name">{{ user.last-name }}</span>
            </h1>
            </dd>
        </dl>

        <section id="summary" class="headline title">
            <div class="floatFix">
                <ul id="keywords">
                    <li>
                        <strong>{{ cv.keywords[1] }}</strong>,
                    </li>
                    <li><strong>{{ cv.keywords[2] }}</strong>
                        &amp; </li>
                    <li>
                        <strong>{{ cv.keywords[3] }}</strong>
                    </li>
                </ul>
                <div class="motivation">
                    {{ cv.motto }}
                </div>
            </div>
        </section>
    </div>

    <div id="main">
        <section id="experiences" class="no-margin-top">
            <h2>{{experiences }}<a href="#experiences" class="pilcrow">&para;</a></h2>
            <ol class="vcalendar">
                <li ng-repeat="items in experiences">
                    {{xp.org.title}}
                </li>
            </ol>
        </section>
        <section id="projects" class="no-margin-top">
            <h2>{{projects }}<a href="#projects" class="pilcrow">&para;</a></h2>
            <ol class="vcalendar">
                <li ng-repeat="items in projects">
                    {{xp.org.title}}
                </li>
            </ol>
        </section>
        <section id="educations" class="no-margin-top">
            <h2>{{educations }}<a href="#educations" class="pilcrow">&para;</a></h2>
            <ol class="vcalendar">
                <li ng-repeat="items in educations">
                    {{xp.org.title}}
                </li>
            </ol>
        </section>

        <section id="spare-time" class="no-margin-top">
            <h2>{{spare-time }}<a href="#spare-time" class="pilcrow">&para;</a></h2>
            <ol class="vcalendar">
                <li ng-repeat="items in spare_time">
                    {{xp.org.title}}
                </li>
            </ol>
        </section>

        <?php //echo spareTime('Spare_time'); ?>

    </div>

</article>
</body>
</html>
